@model ParkingStop.Data.Reservation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row transparent11">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOff)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParkingPlaces)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParkingPlaces.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Users)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Users.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisterOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisterOn)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    }
    <a asp-action="Index">Back to List</a>
</div>
