@model IEnumerable<ParkingStop.Data.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center transparent11">Резервации</h1>
<br />
<br />
<table class="table transparent11">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkingPlaces)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegisterOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="transparent11">
            <td>
                @Html.DisplayFor(modelItem => item.DateOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOff)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkingPlaces.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Users.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegisterOn)
            </td>
            <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    
                    }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
